@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,900);


html 
{
	text-align: justify;
	/*position: relative;*/
	/*min-height: 100%;*/
	/*overflow-y: scroll; */
}

body
{
	font-family: 'Lato', serif;
	/*margin-bottom: 60px;*/
}

.row
{
  margin-left: 0;
  margin-right: 0;
}

.show
{
	border: 1px black solid;
}

.separator-xs
{
	height: 20px;
}

.separator-sm
{
	height: 40px;
	
}

.separator-md
{
	height: 60px;
	
}

.separator-lg
{
	height: 80px;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}