@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,900);


body
{
    font-family: 'Lato', serif;
}

#cover
{
  /*background: url(../Images/Home5blury.jpg) no-repeat -100px top fixed; */
  height:100vh;
  top:0;
  bottom:0;
  width: 100%;
}

#cover-title
{
    text-align: center;
    vertical-align: middle;
    height:50%;
    width:100%;
    position: absolute;
    top: 40%;
    bottom:0;
    margin: auto;
}

#cover a
{
    color: #CC3910;
}

.bold
{
    color: #CC3910;
    font-size: 35pt;
    font-weight: 900;
}


.light
{
    color: #CCC59E;
    font-size: 35pt;
    font-weight: 300;
}

.italic
{
    /*font-style: italic;*/
}


.center
{
    text-align: center;
}

#p-about
{
    padding-top: 45px;
}

#p-about h2
{
    font-family: 'Lato', serif;
    font-weight: 300;
}


#about .img-circle
{
    border: 8px solid grey;
}


.separator
{
    /*background-color: #123456;*/
    height: 100px;
}

.navbar
{
    background: white;
    color: #CC3910;
}

.navbar a
{
    color: #CC3910;
}

.nav-wrapper
{
    min-height:50px;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#skills
{
    /*background-image: url(../Images/background-pan.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: left bottom; */
    /*background-color: #F7F7F7;*/
    background-color: #CCCCCC;
    /*background-size: 30%;*/
}

#skills .underline
{
    border-bottom: solid #BF766F 3px;
}

#skills h1
{
    text-align: center;
    color: #BF766F;
}

#skills h3
{
    text-align: center;
    font-variant: small-caps;
    /*font-family: 'Vollkorn', serif;*/
}

.limit-max-width
{
    width: 50%;
    margin:auto;
}
/*
pale red 732D33
pink BF766F
clear F2DAD8
dark red 260101
blood 0D0000

orange CC3910
yellow sand F1F2C0
sand CCC59E
green 8FA68E
brown 332F29
*/
