@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,900);


body
{
    font-family: 'Lato', serif;
}

#cover
{
  /*background: url(../Images/Home5blury.jpg) no-repeat -100px top fixed; */
  height:100vh;
  top:0;
  bottom:0;
  width: 100%;
}

#cover-title
{
    text-align: center;
    vertical-align: middle;
    height:50%;
    width:100%;
    position: absolute;
    top: 40%;
    bottom:0;
    margin: auto;
}

#cover a
{
    color: #E74C3C;
}

.bold
{
    color: #E74C3C;
    font-size: 35pt;
    font-weight: 900;
}


.light
{
    color: #2C3E50;
    font-size: 35pt;
    font-weight: 300;
}

.italic
{
    /*font-style: italic;*/
}


.center
{
    text-align: center;
}

#p-about
{
    /*padding: auto;*/
    padding-top: 45px;
}

#p-about h2
{
    font-family: 'Lato', serif;
    font-weight: 300;
}


#about .img-circle
{
    border: 8px solid #ECF0F1;
}


.separator
{
    /*background-color: #123456;*/
    height: 75px;
}

.navbar
{
    background: white;
    color: #E74C3C;
}

.navbar a
{
    color: #E74C3C;
}

.nav-wrapper
{
    min-height:50px;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#skills
{
    background-color: #ecf0f1;
    background-image: url(../Images/Textures/bright-squares.png);
}

#skills .underline
{
    border-bottom: solid #E74C3C 1px;
}

#skills h1
{
    text-align: center;
    font-weight: 300;
    color: black;
}

#skills h3
{
    text-align: center;
    font-variant: small-caps;
    /*font-family: 'Vollkorn', serif;*/
}

.limit-max-width
{
    width: 50%;
    margin:auto;
}
/*
pale red 732D33
pink BF766F
clear F2DAD8
dark red 260101
blood 0D0000

orange CC3910
yellow sand F1F2C0
sand CCC59E
green 8FA68E
brown 332F29

dark blue 2C3E50
red E74C3C
clear ECF0F1
blue clear 3498DB
blue 2980B9
*/
